<!DOCTYPE html>
<html>
  <head>
    <title>RedditOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Reddit on Rails!</h1>
    <a href="<%= subs_url %>">Sub Directory</a>
    <br> <br>

    <% if logged_in? %>
      <a href="<%= user_url(current_user.id) %>">My Account</a>

      <form action="<%= session_url %>" method="POST">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <a href="<%= new_session_url %>">Login</a>
    <% end %>

    <ul>
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
